.home{
  background:#00659c url(../../images/bg1.jpg) top;
  background-size:100% auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .taocan{
    padding: 20px;
    padding-bottom: 0px;
    .item{
      height: 138px; margin-bottom: 20px;display: flex;align-items: center; padding-left: 53%;
      h4{color: #ffffff;}
      p{color: rgba(255, 255, 255, 0.65);}
    }
    // >a{padding-left: 53%;}
    .item:nth-of-type(1){background: rgba(2, 255, 255, 0.25) url(../../images/p1.png);background-size:auto 95%; background-repeat: no-repeat;}
    .item:nth-of-type(2){background: rgba(2, 255, 255, 0.25) url(../../images/p2.png);background-size:auto 95%; background-repeat: no-repeat;}
    .item:nth-of-type(3){background: rgba(2, 255, 255, 0.25) url(../../images/p3.png);background-size:auto 95%; background-repeat: no-repeat;}
    .item:nth-of-type(4){background: rgba(2, 255, 255, 0.25) url(../../images/p4.png);background-size:auto 95%; background-repeat: no-repeat;}
    .item:nth-of-type(5){background: rgba(2, 255, 255, 0.25) url(../../images/p5.png);background-size:auto 95%; background-repeat: no-repeat;}
    .item:nth-of-type(6){background: rgba(2, 255, 255, 0.25) url(../../images/p6.png);background-size:auto 95%; background-repeat: no-repeat;}
  }
}
