.mui-grid-view.mui-grid-9 {
  background-color: #fff;
  border: none;

  img {
    width: 100%;
    height: 100%;
  }

  .mui-media-body {
    font-size: 13px;
  }
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
  padding: 5px 10px;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell{
  border: 0;
}



