.logo-title{
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
  h4{
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    padding: 0 20px;
  }
  .logo-body{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 15px;
    color: #004394;
    margin-top: 15px;
    padding: 0 20px;
    img {
      width: 18x;
      height: 18px;
      margin-right: 8px;
    }
  }
}
