@import "../../../style/color";
@import "../../../style/utils";

.row {
  display: flex;
  align-items: center;
}


.shopcart .am-list-thumb {
  .am-checkbox-inner {
    border-radius: 0;
  }
}


.shopcart {
  .top-15 {
    margin-top: 15px;
  }
}


.btm-title {
  padding: 0 10px;
  justify-content: space-between;
  font-size: @fontD;

  .sub span:nth-child(2) {
    margin-left: 10px;
  }
}


.am-list-item .am-list-thumb:first-child {
  margin-right: 0px;
}

.am-list-item .am-list-line {
  padding-right: 10px;
}

.shopcart {
  .mui-table-view .mui-media-object {
    width: 90px;
    height: 85px;
    max-width: 90px;
  }

  .am-checkbox-input{
    height: 110px;
  }
}



